In [1]:
import pandas_datareader.data as web
all_data = {ticker: web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [2]:
import pandas as pd

In [3]:
price = pd.DataFrame({ticker: data['Adj Close'] for ticker, data in all_data.items()})

In [4]:
volume = pd.DataFrame({ticker: data['Volume'] for ticker, data in all_data.items()})

In [5]:
returns = price.pct_change()

In [6]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-03-17  0.006454  0.007242  0.002819  0.006807
2022-03-18  0.020919  0.006252  0.017648  0.016352
2022-03-21  0.008538 -0.005126 -0.004227 -0.002361
2022-03-22  0.020801  0.007494  0.016379  0.027836
2022-03-23  0.008234 -0.005889 -0.015030 -0.012646

In [7]:
returns.head()

                AAPL       IBM      MSFT      GOOG
Date
2017-03-24       NaN       NaN       NaN       NaN
2017-03-27  0.001707 -0.000345  0.001846  0.006238
2017-03-28  0.020727  0.004258  0.002919  0.001721
2017-03-29  0.002225 -0.003266  0.002757  0.012778
2017-03-30 -0.001318 -0.000460  0.003666  0.000108